* {

    margin: 0;
    padding: 0;

}

header {
    padding: 1rem;
    background-color: aqua;
}

main,
footer {
    padding: 1rem;
}

.current,
.completed {
    border-bottom: 1px solid black;
    padding: 1rem 0;


}

.badge {
    background-color: rgb(241, 159, 6);
    display: inline;
    border-radius: 0.5rem;
    padding: 0.20rem;
    margin-left: 1rem;
    color: white;


}

.section-name {
    padding-bottom: 2rem;
}

.task-title {
    display: inline;


}

.spacing-top {
    margin-top: .25rem;
}

.spacing-bottom {
    margin-bottom: 1rem;
}